<div class="transaction-wrapper">
    <p>Name: <%= user_transaction.name %></p>
    <p>Amount paid: $<%= user_transaction.amount %></p>
    <p>Date: <%= user_transaction.created_at.strftime('%d %b %Y at %I:%M %p') %></p>
</div>