<section class="main-section">
<h1 class="header" >NEW TRANSACTION</h1>
<%= render "form", user_transaction: @user_transaction %>

<div class="links-wrapper"> <%= link_to "Back to Transactions", group_user_transactions_path, class:'link' %></div>

</section>