<section class="main-section">
<h1 class="header">NEW CATEGORY</h1>
<%= render "form", group: @group %>
<div class="links-wrapper"> <%= link_to "Back to Categories", groups_path, class:"link" %></div>
</section>