<div class="main-section">
<p class="header">NEW CATEGORY</p>
<%= render "form", group: @group %>
<div class="links-wrapper"> <%= link_to "Back to Categories", groups_path, class:"link" %></div>
</div>