
<div class="splash">
     <div class = "main-heading"> PIERCEL PAYMENTS </div>
    <div class='d-flex flex-column  p-3 gap-2'>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn button-login border border-light text-light  bg-primary col-3  p-2' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn button-register border border-light bg-primary text-light col-3 p-2' %>
    </div>
</div>